{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
	<div class="col-lg-6">
		<div class="p-5">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
			</div>
			<form class="user" method="POST">

				{% csrf_token %}

				<fieldset class="form-group">
					<legend class="border-bottomm mb-4">Log In

						{{ form|crispy }}
					
					</legend>
				</fieldset>
	
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Login</button>
				</div>
	
			</form>

			<hr>
			<div class="text-center">
				<a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
			</div>
			<div class="text-center">
				<a class="small" href="{% url 'register_crispy' %}">Create an Account!</a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}