{% extends 'users/base.html' %}

{% block content %}

<div class="row">
	<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
	<div class="col-lg-6">
		<div class="p-5">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Password reset</h1>
			</div>

			<form method="POST">
				{% csrf_token %}
				<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
				<br>
				<button class="btn btn-primary btn-user btn-block" type="submit">Send reset email</button>
			</form>

			<hr>
			<div class="text-center">
				<a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
			</div>
			<div class="text-center">
				<a class="small" href="{% url 'register' %}">Create an Account!</a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}