{% load static %}

<!DOCTYPE html>

<head>
	
	<title>{% block title %}{% endblock title %}</title>

	<!-- {% include 'registrations/datatable.html' %} -->

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">



</head>

<body>


	{% include 'registrations/messages.html' %}


	{% include 'registrations/navigation.html' %}


	{% block content %}{% endblock content %}


	{% include 'registrations/js.html' %}




	<script>
		$(document).ready(function(){
			{% block jquery %}{% endblock jquery %}
		})
	</script>



</body>

</html>