{% extends 'registrations/base_section.html' %}


<script>

    {% block jquery %}

    {% include 'registrations/create_chart_bar.js' %}
    
    var endpoint = '/rest/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            x = data.persons_by_user_names
            y = data.persons_by_user_age
            create_chart_bar("chart_by_user", x, y)
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    var endpoint = '/rest/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            x = data.persons_total_names
            y = data.persons_total_age
            create_chart_bar("chart_total", x, y)
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    {% endblock jquery %}

</script>


{% block content %}

<div style="height: 300px">
    <canvas id="chart_by_user" width="400" height="400"></canvas>
</div>

<div style="height: 300px">
    <canvas id="chart_total" width="400" height="400"></canvas>
</div>

{% endblock content %}

