{% extends 'registrations/base.html' %}


{% block content %}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Charts</h1>
<p class="mb-4">Chart.js example</p>

<!-- Content Row -->
<div class="row">

    <div class="col-xl-6 col-lg-7">

        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart2"></canvas>
                </div>
            </div>
        </div>
        <!-- End Of Area Chart -->

    </div>


    <div class="col-xl-6 col-lg-7">

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart2"></canvas>
                </div>
            </div>
        </div>
        <!-- End Of Bar Chart -->

    </div>

</div>

{% endblock content %}

