{% extends 'registrations/base_section.html' %}


<script>
    {% block jquery %}
    var endpoint = '/data/rest/'
    var x = []
    var y = []
    $.ajax({
       method: "GET",
       url: endpoint,
       success: function(data){
        x = data.x
        y = data.y
        create_chart_bar()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    {% include 'registrations/create_chart_bar.js' %}

    {% endblock %}
</script>

{% block content %}

<canvas id="myChart" width="400" height="400"></canvas>

{% endblock %}

