{% extends 'registrations/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>

<!-- Create book button -->
<button id="create-book" class="btn btn-primary" type="button" name="button">Create book</button>

<!-- Create Person button -->
<button id="create-person" class="btn btn-primary" type="button" name="button">Add person</button>


<script type="text/javascript">
	$(document).ready(function() {
		$("#create-book").modalForm({
			formURL: "{% url 'create_book' %}"
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#create-person").modalForm({
			formURL: "{% url 'add_person' %}"
		});
	});
</script>

{% endblock content %}