 
{% extends 'registrations/base_section.html' %}

{% block title %}registrations - index{% endblock %}



{% block content %}

<h2>Users:</h2>
<ul>
{% for user in users %}
<li>{{ user|title }}</li>
{% endfor %}
{# comment text .. #}
</ul>

<h2>Persons:</h2>
<ul>
{% for person in persons %}
<li>{{ person.last_name }}, {{ person.first_name }}</li>
{% endfor %}
</ul>

<!-- <form>
	<input type="submit" name="list" value="List Objects" />
</form>
<form>
	<input type="submit" name="do-something-else" value="Do Something Else" />
</form> -->

<form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

{% endblock %}

