<ul>
	<li> <a href="{% url 'data_rest_api_serial' %}">Serial</a></li>
	<li> <a href="{% url 'data_rest_api' %}">Data</a></li>
	<li> <a href="{% url 'index' %}">Index</a></li>
	<li> <a href="{% url 'form_render' %}">Form</a></li>
	<li> <a href="{% url 'chart_render' %}">Chart</a></li>
	<li> <a href="{% url 'admin:index' %}">Admin</a></li>

	{% if request.user.is_authenticated %}
	<li> <a href="{% url 'profile' %}">Profile</a></li>
	<li> <a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
	<li> <a href="{% url 'login' %}">Login</a></li>
	<li> <a href="{% url 'register' %}">Register</a></li>
	{% endif %}
</ul>