{% load widget_tweaks %}

<div class="modal-header">
	<h3 class="modal-title">Person details</h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">

	<div class="">
		Name:
		{{ person.name }}
	</div>
	<div class="">
		Country:
		{{ person.nationality }}
	</div>
	<div class="">
		person_age:
		{{ person.person_age }}
	</div>
	<div class="">
		duration:
		{{ person.duration }}
	</div>
	<div class="">
		interaction:
		{{ person.interaction }}
	</div>
	<div class="">
		looks:
		{{ person.looks }}
	</div>
	<div class="">
		close:
		{{ person.close }}
	</div>
	<div class="">
		reply:
		{{ person.reply }}
	</div>
	<div class="">
		reply:
		{{ person.reply }}
	</div>
	<div class="">
		comments:
		{{ person.comments }}
	</div>
	
	<div class="">
		created_at:
		{{ person.created_at }}
	</div>
	<div class="">
		updated_at:
		{{ person.updated_at }}
	</div>
	<div class="">
		created_by:
		{{ person.created_by }}
	</div>
	
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


