{% extends 'registrations/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables example</p>


<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th>Nationality</th>
						<th>Age</th>
						<th>Duration</th>
						<th>Interaction</th>
						<th>Looks</th>
						<th>Close</th>
						<th>Reply</th>
						<th>Lay</th>
						<th>Created at</th>
						<th>Created by</th>
						<th>Id</th>
						<th>Read / Update / Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for person in persons %}
					<tr>
						<td>{{ person.name }}</td>
						<td>{{ person.nationality }}</td>
						<td>{{ person.person_age }}</td>
						<td>{{ person.duration }}</td>
						<td>{{ person.interaction }}</td>
						<td>{{ person.looks }}</td>
						<td>{{ person.close }}</td>
						<td>{{ person.reply }}</td>
						<td>{{ person.lay }}</td>
						<td>{{ person.created_at }}</td>
						<td>{{ person.created_by }}</td>
						<td>{{ person.id }}</td>
						<td>
			
							<a href="{% url 'delete_person' person.id %}">Delete</a>

							<a href="{% url 'update_person' person.id %}">Edit</a>

							<!-- Delete book buttons -->
							<!-- <button type="button" class="bs-modal delete-person btn btn-sm btn-danger" data-form-url="{% url 'delete_person' person.id %}">
								<span class="fa fa-trash"></span>
							</button> -->

						</td>
					</tr>
					{% endfor persons %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock content %}
